# Dependencias
node_modules/
dist/

# Entornos Python
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/**/*.pyc
backend/.env

# Variables de entorno
.env
.env.local

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
*.log
